# Python virtual environments
.venv/
env/

# Django secret key & environment variables
.env

# Database files


# Python bytecode
*.pyc
__pycache__/

# Media files (upload folder)
media/

# Logs
*.log

# VS Code and other IDE files
.vscode/
.idea/

staticfiles/
